.customer-intro-img {
  background: url("./3_2nd_main3.jpg") 0 60% / cover;
  height: 400px;
  position: relative;

  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 700;
  }
}

.customer-container {
  text-align: center;
  margin: 3em 0;
}

.customer-list {
  padding: 0;

  li {
    margin: 0.5em 0;

    h6 {
      font-size: 1.2rem;
      font-weight: 600;
    }

    img {
      margin: 0.5em;
    }
  }
}
