.shipping-img {
  background: url("background1.png") 0 60% / cover;
  height: 400px;
  position: relative;

  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 700;
  }
}

.shipping-instruction {
  margin: 3em 0;

  h3 {
    font-size: 1.3rem;
    font-weight: 600;
    border-bottom: 2px solid black;
    width: 40%;
    margin: 0.8em;
    padding: 0.8em 0;
  }

  p {
    font-size: 0.9rem;
    margin: 1em 1em;
  }

  .img-box {
    padding: 1em;
  }

  img {
    width: 100%;
    margin-top: 2em;
  }
}

.cargo-instruction {
  h3 {
    font-size: 1.3rem;
    font-weight: 600;
    border-bottom: 2px solid black;
    width: 40%;
    margin: 0.8em;
    padding: 0.8em 0;
  }

  .instruction-box {
    justify-content: space-around;
    align-items: center;

    img {
      // width: 40%;
      padding: 2em;
    }

    ul {
      padding-left: 3.5em;
    }
    li {
      list-style-type: disc;
    }
  }
}

.ability {
  h3 {
    font-size: 1.3rem;
    font-weight: 600;
    border-bottom: 2px solid black;
    width: 40%;
    margin: 0.8em;
    padding: 0.8em 0;
  }
}

.instruction-box {
  justify-content: space-around;
  align-items: center;

  img {
    // width: 40%;
    padding: 2em;
  }

  .instruction-text {
    padding-left: 3.5em;

    h4 {
      font-size: 1.2rem;
      font-weight: 600;
    }

    li {
      list-style-type: disc;
    }
  }
}

.delivery-area {
  margin-bottom: 3em;

  h3 {
    font-size: 1.3rem;
    font-weight: 600;
    border-bottom: 2px solid black;
    width: 40%;
    margin: 0.8em;
    padding: 0.8em 0;
  }
}

.delivery-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 50%;
    padding: 2em;
  }

  .delivery-vailed {
    background-color: #eee;
    padding: 3em;

    h4 {
      color: red;
      font-size: 1.3rem;
      font-weight: 600;
      margin-bottom: 2em;
    }

    h5 {
      font-weight: 600;
      margin-bottom: 1em;
    }

    h6 {
      font-weight: 600;
      margin-bottom: 1em;
    }
    p {
      font-size: 0.8rem;
    }
  }
}

@media screen and (min-width: 1500px) {
  .shipping {
    width: 920px;
    margin: 0 auto;
  }

  .cargo-instruction {
    .instruction-box > img {
      width: 40%;
    }
  }

  .delivery-box {
    display: flex;
    flex-direction: column;

    img {
      width: 50%;
      margin: 3em auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .cargo-instruction {
    .instruction-box {
      width: 80%;
      margin: 0 auto;
    }
  }

  .delivery-box {
    img {
      width: 100%;
      padding: 2em;
    }
  }
}
