.main > section {
  margin: 2em 0;
}

.shipping-img {
  background: url("background1.png") 0 60% / cover;
  height: 400px;
  position: relative;

  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 700;
  }
}

.shipping-instruction {
  margin: 3em 0;

  h3 {
    font-size: 1.3rem;
    font-weight: 600;
    border-bottom: 2px solid black;
    width: 40%;
    margin: 0.8em;
    padding: 0.8em 0;
  }

  p {
    font-size: 0.9rem;
    margin: 1em 1em;
  }

  .img-box {
    padding: 1em;

    img {
      width: 100%;
      margin-top: 2em;
    }
  }
}

.center {
  h3 {
    font-size: 1.3rem;
    font-weight: 600;
    border-bottom: 2px solid black;
    width: 40%;
    margin: 0.8em;
    padding: 0.8em 0;
  }

  .center-instruction-box {
    justify-content: space-around;
    align-items: center;

    img {
      padding: 1.5em;
    }

    .instruction-text {
      ul {
        padding: 0 2em 0 4em;
        // margin: 2em 0 0 2em;
      }

      li {
        list-style-type: disc;
        margin: 0.5em 0;
        font-size: 0.9rem;
      }
    }
  }
}

.shipping-ability {
  h3 {
    font-size: 1.3rem;
    font-weight: 600;
    border-bottom: 2px solid black;
    width: 40%;
    margin: 0.8em;
    padding: 0.8em 0;
  }

  .ability-instruction-box {
    justify-content: space-around;
    align-items: center;

    img {
      padding: 2em;
    }

    .instruction-text {
      padding-left: 2.5em;

      h4 {
        font-size: 1.2rem;
        font-weight: 600;
      }

      li {
        list-style-type: disc;
        font-size: 0.9rem;
        margin: 0.5em 0;
      }
    }
  }
}

.delivery-area {
  margin-bottom: 3em;

  h3 {
    font-size: 1.3rem;
    font-weight: 600;
    border-bottom: 2px solid black;
    width: 40%;
    margin: 0.8em;
    padding: 0.8em 0;
  }
}

.delivery-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 50%;
    padding: 2em;
  }

  .delivery-vailed {
    background-color: #eee;
    padding: 3em;

    h4 {
      color: red;
      font-size: 1.3rem;
      font-weight: 600;
      margin-bottom: 2em;
    }

    h5 {
      font-weight: 600;
      margin-bottom: 1em;
    }

    h6 {
      font-weight: 600;
      margin-bottom: 1em;
    }
    p {
      font-size: 0.8rem;
    }
  }
}

@media screen and (min-width: 1500px) {
  .main,
  .shipping {
    width: 1150px;
    margin: 0 auto;
  }

  .center {
    .center-instruction-box > img {
      width: 40%;
    }
  }

  .delivery-box {
    display: flex;
    flex-direction: column;

    img {
      width: 50%;
      margin: 3em auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .center {
    h3 {
      width: 50%;
    }

    .center-instruction-box {
      img {
        width: 80%;
      }
    }
  }

  .delivery-box {
    img {
      width: 100%;
      padding: 2em;
    }
  }
}
