.logo img {
  width: 110px;
  cursor: pointer;
}

.navbar-nav {
  margin-right: 1em;
}

.nav-item {
  span.nav-link:after {
    display: none;
  }

  ul.dropdown-menu {
    font-size: 0.9rem;
    background-color: #f1f1f1;
    border: none;
    box-shadow: 2px 4px 10px 1px #bbb;
  }

  ul.dropdown-menu a.dropdown-item {
    padding: 0.8em;
  }

  ul.dropdown-menu a.dropdown-item:hover {
    background-color: #ccc;
    font-weight: 600;
    height: 100%;
  }
}
.nav-item:hover {
  font-weight: 600;

  ul.dropdown-menu {
    display: block;
  }
}
