.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 1em;
}

.logo img {
  width: 110px;
  cursor: pointer;
}

.main_menu {
  display: flex;
}

.main_menu > li {
  margin: 0 0.5em;
  cursor: pointer;
}

.sub_menu {
  display: none;
}

.img_box {
  position: relative;
}
